# Application parameters and settings. See https://doc.nette.org/configuring

parameters:


application:
	# Presenter mapping pattern
	mapping: App\Presentation\*\**Presenter


database:
	dsn: 'mysql:host=127.0.0.1;dbname=usertest'
	user: "root"
	password: "root"
